/* * {
    border: solid red 3px;
} */

body {
    margin: 0;
    text-align: center;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
    color: white;
}

header ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.darkBackground {
    background-color: #1F2937;
}

.partOne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    align-items: center;
    margin-left: 3vw;
    color: #f9faf8;
      
}

#knightsImage {
    background-color: gray;
    width: 600px;
    margin: 20px;
    image-rendering: auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.welcomeMessage {
    max-width: 400px;
}

h1 {
    font-size: 48px;;
    color: #f9faf8;
    text-shadow: 2px 2px orange;
}
h2 {
    text-shadow: 2px 2px orange;
}

.randomButton {
    background-color: rgb(0, 68, 145);
    height: 50px;
    width: 150px;
    border-radius: 5px;
    color: white;
    margin: 10px;
}

a {
    color: white;
}

.firstRow, .secondRow {
    display: flex;
    justify-content: space-evenly;
}
.first {
    background-image: url(images/lancelot.png);
    background-size: cover;
}
.second {
    background-image: url(images/king_arthur.png);
    background-size: cover;
}
.third {
    background-image: url(images/bedevere.png);
    background-size: cover;
}
.fourth {
    background-image: url(images/sir_robin.png);
    background-size: cover;
}
.fifth {
    background-image: url(images/rabbit.png);
    background-size: cover;
}

.secondRow {
    margin: 10px 100px;
}
.box {
    border: solid black 3px;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    padding: 20px;
}

.textImage {
    max-width: 160px;
    text-align: center;
    margin: auto;
}

#logo {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50px;
    margin: 5px;
}

.partThree {
    min-height: 300px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 215, 215);
}